# **2.1 Create variables for your name, age, and favorite color, then print them with descriptive labels.**

In [ ]:
name = "Naymur Rahman"
age = 23
favColor = "black"

print("Name: ",name)
print("Age: ", age)
print("Favourite Color: ",favColor)

Name:  Naymur Rahman
Age:  23
Favourite Color:  black

# **2.2.Create one variable of each type and use the type() function to verify its type.**

In [ ]:
intData = 13
floatData = 13.7
stringData = "Naymur"
booleanData= False;
nullValue = None

print(type(intData))
print(type(floatData))
print(type(stringData))
print(type(booleanData))
print(type(nullValue))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

# **2.3.Calculate the area and perimeter of a rectangle with length 7 and width 5.**

In [ ]:
length ,width = 7,5
perimeter = 2*(length + width)
area = length*width

print("The perimeter is :", perimeter)
print("The area is :", area)

The perimeter is : 24
The area is : 35

# **2.4.Create a list of 5 Bangladeshi foods, then access the first and last elements.**

In [ ]:
foods = ["kacchi", "tehari", "chui jhal", "kala vuna", "khichuri"]

print(foods[0])
print(foods[-1])

kacchi
khichuri

# **2.5 Create a list of 5 numbers, add a new number, remove one, and then sort the list.**

In [ ]:
nums = [12,43,4,7,2]
nums.append(120)

nums.pop(1)
nums.sort()

print(nums)

[2, 4, 7, 12, 120]

# **2.6 Create a dictionary about yourself with at least 4 key-value pairs**

In [ ]:
aboutMe ={"name" : "Naymur Rahman",
          "age" : 23,
          "placeOfBirth": "Narayanganj",
          "cell" : "01704895487"
          }

print(aboutMe["name"], "and ", aboutMe["cell"])

Naymur Rahman and  01704895487

# **2.7 Create a tuple with the latitude and longitude of a famous place in Bangladesh.**

In [ ]:
location = (23.8759, 90.2667)

print(type(location))

<class 'tuple'>

# **2.8 Create two sets of colors and find their union and intersection**

In [ ]:
colors1 = {"red", "black", "blue","green" }
colors2 = {"red", "magenta", "orange","green" }

unionOfColors = colors1 | colors2
print(unionOfColors)

intersectionOfColors = colors1 & colors2
print(intersectionOfColors)

{'red', 'blue', 'green', 'magenta', 'black', 'orange'}
{'red', 'green'}

# **2.9 Write a program that checks if a number is positive, negative, or zero.**

In [ ]:
num = int(input())

if num > 0:
  print("Positive")
elif num< 0:
  print("Negative")
else:
  print("Zero")

0
Zero

# **2.10 Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).**

In [ ]:
is_student =  input("Are you a student? (yes/no): ")
if is_student =="yes":
  age = int(input("Your age :"))
  if age < 25 or age >60:
    print("your age eligible")
  else:
    print("not eligible")

else:
  print("Sorry, you are not a student already..")

Are you a student? (yes/no): yes
Your age :61
your age eligible

# **2.11 Write a program that prints the first 10 even numbers using a for or while loop**

In [ ]:
even = 2
count = 0
while count < 10:
  count+=1;
  print(even)
  even += 2;

2
4
6
8
10
12
14
16
18
20

# **2.12 Write a program that prints a simple pyramid pattern using nested loops.**

In [2]:

for i in range(1, 5+1):
  for space in range(5-i):
    print(" ", end="")
  for num in range(1, i+1):
    print("*", end =" ")

  print()

    *
   * *
  * * *
 * * * *
* * * * *

# **Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32**

In [ ]:
c =  float(input("Celcius input :"))
f = (c*(9/5)+32)

print("result for Fahrenheit : ", f)

Celcius input :23
result for Fahrenheit :  73.4

# **2.14 Create a function with default parameters that calculates the area of a rectangle.**

In [ ]:
def area(length = 1, width =1):
  area = length * width
  return area

print("Without passing anything")
print(area())
print("\n")
print("With int passing")
print(area(5,2))

Without passing anything
1


With int passing
10